body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.footer-padding {
    padding-bottom: 60px;
}

.pic-dim {
    height: 200px;
    width: 200px;
}

.pic-dim2 {
    height: 200px;
    width: 335px;
}

.white-link {
    color:white;
    text-decoration: none;
}

.white-link:hover {
    color:white;
    text-decoration: underline;
}

.underline {
    text-decoration: underline;
}

.teal-text {
    color: #00B4B4;
    text-decoration: none;
}

.teal-text:hover {
    color: #00B4B4;
    text-decoration: underline;
}

.form-control {
    max-width: 50%;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited  {
    background-color: #00B4B4 !important;
    border-color: #00B4B4 !important;
}